.footer-icons {
  display: flex;
  justify-content: space-evenly;
}

body {
  background-color: black;
}

.hi_name {
  font-size: 30px;
  /* padding-top: 3rem; */
}

.skillset_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skill {
  margin: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* p {
  color: wheat;
} */

.text{
  color: wheat;
}

.muted{
  opacity: 0.7;
}

.project_heading {
  font-size: 24px;
}
.heading,
.skill-name {
  color: wheat;
  margin-top: 4px;
}

.naman-image {
  border-radius: 50%;
}

.intro{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

html{
 background-color: black;
}

#root{
  background-color: black;
 }

.heart{
  color: #dd0404;
}

.div_block{
  margin-top: 4rem;
}